@charset "UTF-8";

@font-face {
  font-family: "baikal";
  src: url("/fonts/Baikal-Medium.otf") format("opentype");
  font-display: swap;
}

* {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

  html, body {
    scroll-behavior: smooth;
    font-family: "baikal";
    animation: fadeIn 1.5s;
    transition: 0.4s;
    background-color: white;
    height: 100%;
  }

  h1{
    display: none;    
    font-size: 1.5em;
  }

  h2{
    text-align: center;
    font-size: 1em;
  }

  h3{
    text-align: center;
    font-size: 0.7em;
  }

/* classi bottoni */

.btn-pinboard, .btn-list, .btn-add {
  width: 100%;
  height: 20%;
  background-color: black;
  border-radius: 50px;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-family: "baikal";
  font-size: .7em;
  margin-top: .5em;
  padding: 10px 12px;
  text-align: center;
}

.btn-pinboard:hover,
.btn-list:hover,
.btn-add:hover {
  font-style: italic;
}

input {
  width: 100%;
  height: 20%;
  background-color: black;
  border-radius: 50px;
  border-width: 0;
  color: white;
  cursor: pointer;
  font-size: .7em;
  font-family: "baikal";
  margin-top: .5em;
  text-align: center;
}

input:hover {
  cursor: text;
}

/* header styles */

header {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

header a {
  color: red;
}

header a:visited {
  color: red;
}

header a:hover {
  font-style: italic;
}

.p-intro {
  color: grey;
  height: auto;
  width: 75vw;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
}

.p-intro-instructions {
  color: black;
  height: auto;
  width: 75vw;
  padding: 0rem 0.5rem 0.5rem 0.5rem;}

.header-nav {
  height: 25vh;
  width: 25vw;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}



/* main styles */

main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  transition: all 0.35s ease;
  height: 75%;
  scroll-snap-type: y mandatory;
}

main.pinboard-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


/* pin container styles */

.pin-container {
  background-color: black;
  border-radius: 80px;
  height: 50%;
  scroll-snap-align: start;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.35s ease;
}

.pin-container:hover {
  font-style: italic;

}

.pin-container.divider:hover {
  cursor: pointer;
  color: red;
  transition: color 0.3s ease;
}

/* pinboard styles */

main.pinboard-view .pin-container {
  flex: 0 0 50vw;
  height: 50%;
}

.sct-left {
  height: 100%;
  width: 50%;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
} 

.sct-right {
  background-color: red;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.song-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



/* list view styles + sctRight e sctLeft */

main.list-view {
  height: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  scroll-snap-type: start;
  align-items: stretch; 
}

main.list-view .pin-container {
  background-color: white;
  color: black;
  width: 100vw;
  height: auto;
}

.list-view-section-left {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

.list-view-section-right {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


 /* responsive */

 /* ipad */

@media (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: center;
    height: 25vh;
  }

  .header-intro {
    width: 100%;
    height: 50%;
    padding: 0.5rem;
  }

  .header-nav {
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .p-intro,
  .p-intro-instructions {
    width: 100%;
    max-width: 100%;
  }


  .header-nav input,
  .header-nav .btn-add,
  .header-nav .btn-pinboard,
  .header-nav .btn-list {
    padding: 0;
    flex: 1 1 48%;
    max-width: 320px;
    margin: 0.2rem;
  }
}




 /* phone */
@media (max-width: 600px) {

  h1{
    font-size: 1.3em;
  }

  h2{
    font-size: 0.7em;
  }

  h3{
    font-size: 0.5em;
  }

  header {
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 100vw;
  }

  .p-intro,
  .p-intro-instructions,
  .header-nav,
  .header-intro {
    font-size: 0.9em;
    width: 100%;
  }

  .pin-container {
  border-radius: 40px;
}

.sct-right {
  border-radius: 30px;

}

  main {
    height: 50vh;
  }

  main.list-view,
  main.pinboard-view {
    height: 50vh;
  }

  .header-intro {
    overflow: auto;
    width: 100%;
    height: 50%;
    padding: 0.5rem;
  }

  .header-nav {
    width: 100%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
  }

  .header-nav input,
  .header-nav .btn-add,
  .header-nav .btn-pinboard,
  .header-nav .btn-list {
    border-radius: 20px;
    width: 100%;
    font-size: 0.7em;
  }
}

/* i could do more breakpoints for different devices but would require maybe actual testing */