@charset "UTF-8";

@font-face {
    font-family: "baikal";
    src: url(../fonts/Baikal-Medium.otf);
  }

/* design form mobile first not like you're doing here but too late to switch now, design using a shorter width */

  html {
    margin: 1rem;
    scroll-behavior: smooth;
    animation: fadeIn 1.5s;
    transition: 0.4s;
    background-color: var(--bg);
  }

  header {
    text-align: left;
    background-color: #999999;
  }


  main {
    width: 100%;
    height: 100%;
     background-color: red;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
  }

  h1{
    font-size: 3rem;
    font-family: baikal;
    color: #ffffff;
  }

  h2{
    color: #999999;
    margin-top: 1rem;
    font-size: 3rem;
    font-family: baikal;
    text-decoration: underline;
  }

  h3{
    color: #999999;
    margin-top: 1rem;
    font-size: 1rem;
    font-family: baikal;
  }

  h5{
    color: #999999;
    margin-top: 1rem;
    font-size: .5rem;
    font-family: baikal;
  }

  p {
    color: #999999;
    margin-top: 1rem;
    font-size: .5rem;
    font-family: baikal;
  }

  a {
    background-color: #000000;
    color: #00ca1e;
    text-align: center;
    text-decoration: none;
    width: 50%;
    border-radius: 1rem;
    border: 6px solid #ff0000;

    padding: 0.2rem;
    margin: 1rem auto 1rem auto;
    /* padding: 0.5rem 1rem 1.5rem 2rem; if you want to specify the padding for each margin, starting from top, clockwise */

    display: block;
  }

  a:hover {
    color: #999999;
    font-style: italic;
  }

  .age-bar {
    
  }





/* mobile */


@media (max-width: 900px) {


  h1{
    font-size: 1rem;
    font-family: baikal;
  }

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
